$black-800: #242729;
$black-700: #3c4146;
$black-600: #535a60;
$black-400: #848d95;
$black-300: #9fa6ad;
$black-200: #bbc0c4;
$black-100: #d6d9dc;
$black-075: #e4e6e8;
$black-050: #eff0f1;
$black-025: #fafafb;

$yellow: #fbf2d4;
$yellow-050: #fdf7e3;
$yellow-100: #fbf2d4;
$yellow-200: #f1e5bc;

$orange-400: #f48024;

$blue: #0077cc;
$blue-500: #0095ff;
$blue-600: #0077cc;

$powder-100: #e1ecf4;
$powder-700: #39739d;

$border-color: rgb(159, 166, 173);

$theme-primary-background-color: $blue-500;

$theme-body-font-color: $black-800;

$theme-tag-color: $powder-700;
$theme-tag-background-color: $powder-100;
$theme-tag-border-color: transparent;

$bronze--darker: #ab825f;
$network-theme-primary-color-h: 26.53846154;
$network-theme-primary-color-s: 90.43478261%;
$network-theme-primary-color-l: 54.90196078%;

$ff-sans: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Liberation Sans',
  sans-serif;
$ff-serif: Georgia, Cambria, 'Times New Roman', Times, serif;
$ff-mono: ui-monospace, 'Cascadia Mono', 'Segoe UI Mono', 'Liberation Mono',
  Menlo, Monaco, Consolas, monospace;
